/****** Script para el comando SelectTopNRows de SSMS  ******/
INSERT INTO [dbo].[Tb_Municipio](Mpio_Nombre, Id_Departamento) VALUES ('Guatemala',1);
INSERT INTO [dbo].[Tb_Municipio](Mpio_Nombre, Id_Departamento) VALUES ('Santa Catarina Pinula',1);
INSERT INTO [dbo].[Tb_Municipio](Mpio_Nombre, Id_Departamento) VALUES ('Mixco',1);

--progreso


--Sacatepequez

--Chimaltenango

--Escuintla

--Santa Rosa


--Sololá


----Totonicapán

--xela

--Suchitepéquez

--Retalhuleu


--San Marcos

--Huehuetenango

--Quiché


--Baja Verapaz

--Alta Verapaz


--Petén


--Izabal

--Zacapa

--Chiquimula


--Jalapa



--Jutiapa




SELECT TOP 1000 [Id_Mpio]
      ,[Mpio_Nombre]
      ,[Id_Departamento]
  FROM [Db_Fiscalias].[dbo].[Tb_Municipio]