/****** Script para el comando SelectTopNRows de SSMS  ******/
INSERT INTO [dbo].[Tb_Departamento](Dp_Nombre) VALUES ('Guatemala');
INSERT INTO [dbo].[Tb_Departamento](Dp_Nombre) VALUES ('El Progreso');
				   
INSERT INTO [dbo].[Tb_Departamento](Dp_Nombre) VALUES ('Sacatepéquez');
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   




SELECT TOP 1000 [Id_Departamento]
      ,[Dp_Nombre]
  FROM [Db_Fiscalias].[dbo].[Tb_Departamento]